/* Product.module.css */

.product-item {
    border: 1px solid #ccc;
    border-radius: 10px;
    padding: 20px;
    margin-bottom: 30px;
    background-color: #fff;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 20px;
  }
  
  .product-item div {
    border-radius: 5px;
    padding: 10px;
    background-color: #a57c0215;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .product-item div:first-child {
    font-weight: bold;
  }

  .product-item div:last-child {
    justify-self: end;
  }
