/* Product.module.css */

.product-item {
    border: 1px solid #ccc;
    border-radius: 10px; /* Закругление углов */
    padding: 20px; /* Внутренний отступ */
    margin-bottom: 30px; /* Отступ снизу */
    background-color: #fff; /* Фоновый цвет */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); /* Тень */
    display: grid; /* Используем сетку */
    grid-template-columns: 1fr 2fr; /* Создаем две колонки */
    gap: 20px; /* Отступ между колонками */
  }
  
  .product-item div {
    border-radius: 5px; /* Закругление углов */
    padding: 10px; /* Внутренний отступ */
    background-color: #f4f4f4; /* Фоновый цвет */
    overflow: hidden; /* Предотвращаем выход текста за границы */
    text-overflow: ellipsis; /* Обрезаем текст, если он не помещается */
  }

  .product-item div:first-child {
    font-weight: bold; /* Жирный шрифт для первого дива */
  }

  .product-item div:last-child {
    justify-self: end; /* Выравниваем последний див по правому краю */
  }
